WP_ENV='development'

DOMAIN_CURRENT_SITE='mysite.com'
DOMAIN_NAMES='mysite.com *.mysite.com'

DB_NAME='com_mysite'
DB_USER='wp'
DB_PASSWORD='wp'
DB_HOST='localhost'
TABLE_PREFIX='wp_'

WP_HOME='http://mysite.com'
WP_SITEURL='http://mysite.com/wp'

AUTH_KEY='FIXME'
SECURE_AUTH_KEY='FIXME'
LOGGED_IN_KEY='FIXME'
NONCE_KEY='FIXME'
AUTH_SALT='FIXME'
SECURE_AUTH_SALT='FIXME'
LOGGED_IN_SALT='FIXME'
NONCE_SALT='FIXME'
