# WordPress
root/wp
root/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql

# Dotenv
.env
.env.*
!.env.example

# Application
root/app/cache
root/app/uploads
root/app/upgrade
root/app/plugins/*
!root/app/plugins/.gitkeep
root/app/mu-plugins/*
!root/app/mu-plugins/dashboard-columns-options.php
!root/app/mu-plugins/disallow-subdirectory-install.php
!root/app/mu-plugins/register-theme-directory.php

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Misc
/nginx.conf
app/w3tc-config/

# VVV
config/vvv-hosts
config/vvv-nginx.conf
config/mounts.conf
