# WordPress
root/wp
root/.htaccess

# WP-CLI
db-sync
sql-dump-*.sql
wp-cli.yml

# Dotenv
.env
.env.*
!.env.example

# Application
root/wp-content/cache/*
!root/wp-content/cache/index.php
root/wp-content/themes-composer/*
!root/wp-content/themes-composer/index.php
root/wp-content/uploads/*
!root/wp-content/uploads/index.php
root/wp-content/upgrade/*
root/wp-content/plugins/*
!root/wp-content/plugins/index.php

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Node Package Manager
node_modules

# Misc
/nginx.conf
app/w3tc-config/
.capistrano

# VVV
config/vvv-hosts
config/vvv-nginx.conf
config/mounts.conf

# Editors
*.kate-swp
*.swp

# Cache
.sass-cache
